@import url('https://fonts.googleapis.com/css?family=Poppons:200,300,400,500,600,700,800,900&display=swap');
*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}
body
{
   background: #ffffff;
   min-height: 200vh;
}
header
{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   transition: 0.6s;   
   padding: 40px 100px;
   z-index: 100000;
   background-color: #ffffff;   
}
header.sticky
{
   padding: 5px 100px;
   background: #fff;   
}
header .logo
{
   position: relative;
   font-weight: 700;
   color: #a52a2a;
   text-decoration: none;
   font-size: 2em;
   text-transform: uppercase;
   letter-spacing: 2px;
   transition: 0.6s;
}
header ul
{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}
header ul li
{
   position: relative;
   list-style: none;
}
header ul li a
{
   position: relative;
   margin: 5px;
   text-decoration: none;
   color: #808080;
   letter-spacing: 2px;
   font-weight: 500px;
   transition: 0.6s;
}
header.sticky .logo,
header.sticky ul li a
{
   color: #000;
}
.container{
   max-width: 1170px;
   margin: auto;
}
.row{
   display: flex;
   flex-wrap: wrap;
}
ul{
   list-style: none;
}
.special-heading-inner-border{
display: block;
width:100%;
margin-left:15px;
border-top-style: solid;
border-top-width:1px;
position: relative;
top:50%;
opacity: 0.15;
filter:alpha(opacity=15);
}
.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0rem;
	margin-top: 1rem;
}
.body-col{
   width: 25%;
   padding: 5px 105px;
}
.box {
        width: 100%;
	border: 1px hidden #ccc;
	border-radius: 6px;
	padding: 2rem;
	text-align: center;	
}
.box1 {		
	width: 300px;
	display: flex;
 	justify-content: center;
	align-items: center;
	border: 0.5px hidden #ccc;
	border-radius: 6px;
	padding: center;
	text-align: left;	
}
.box2 {		
	width: 100%;
   	padding: 40px 105px solid;
	border: 1px solid;
        border-color: #e3e2e1;        	
}
.footer{
   background-color: #000000;
   padding: 70px o;
}
.footer-col{
   width: 33%;
   padding: 50px;
}
.footer-col h4{
   font-size: 18px;
   color: #ffffff;
   text-transform: capitalize;
   margin-bottom: 35px;
   font-weight: 500;
   position: relative;
}   
.footer-col h4::before{
   content: '';
   position: absolute;
   left: 0;
   bottom: -10px;
   background-color: #e91e63;
   height: 2px;
   box-sizing: border-box;
   width: 50px;
}
.footer-col ul li:not(:last-child){
   margin-bottom: 10px;
}
.footer-col p{
   font-size: 16px;
   text-transform: capitalize;
   color: #ffffff;
   font-weight: 300;
   color: #bbbbbb;
   display: block;
   transition: all 0.3s ease;
}
.footer-col .social-links a{
   display: inline-block:
   height: 40px;
   width: 40px;
   background-color: rgba(255,255,255,0.2);
   margin: 0 10px 10px 0;
   text-align: center;
   line-height: 40px;
   border-radius: 100%;
   color: #ffffff;
   transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
   color: #24262b;
   background-color: #ffffff;
}
.gotopbtn{
   position: fixed;
   width: 50px;
   height: 50px;
   background: #2a2b2b;
   bottom: 40px;
   right: 50px;
   text-decoration: none;
   text-align: center;
   line-height: 50px;
   color: white;
   font-size: 22px;
}
.footer1{
   background-color: #2a2b2b;
   padding: 20px 105px;
   color: #ccc;
   font-size: 12px;
}


/*responsive*/
@media(max-width: 574px){
   .header {
      width: 100%;
}
   .box1 {
      width: 100%;
}
   .box2 {
      width: 100%;
}
   .p {
      width: 100%;
}
   .wrapper {
      width: 100%;
}
   .body-col {
      width: 100%;
}
   .footer-col {
      width: 100%;      
}
}